.contact-container {
    display: flex;
    background-color: #FFE4E1; /* Misty Rose background for the entire container */
    padding: 20px;
    height: 100vh;
  }
  
  .contact-info {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .contact-info h1, .contact-info h2 {
    color: #d35400; /* Orange text for headings */
  }
  
  .contact-form {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form h2 {
    width: 80%;
    text-align: left;
  }
  
  .contact-form form {
    width: 80%;
  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
  }
  
  .contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #d35400; /* Orange background for button */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #b84300; /* Darker orange on hover */
  }
  