/* ExpandingGrid.css */

.grid {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow: hidden; /* or auto, depending on your needs */


}

.titleservices {
  color: #283260;
  font-size: 2.3em;
  letter-spacing: 0.4em;
  font-family: TitlingGothicFB Ext;
  font-weight: 1000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;
  opacity: 1;
}

  
  .grid-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .grid-item-wrapper {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;    /* Center children horizontally */
    width: calc(100% - 20px);
    margin: 10px;
    height: 37vh;
    border: 0.6px solid rgb(217, 217, 217);
  }
  
  .grid-item.expanded {
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0; /* Added left: 0 to ensure it covers the entire viewport width */
    width: 100vw;
    height: 100vh;
    z-index: 100;
    margin: 0;
  }

  .item-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center */
    justify-content: center; /* Vertically center */
    text-align: center; /* Center the text within each element */
    margin-top: 10px;
    /* ... other styles ... */
}
  
.expanded-content {
  position: fixed;
  top: 0; /* Set to 0 to cover the entire height */
  left: 0; /* Set to 0 to cover the entire width */
  width: 100vw; /* Set to 100vw to cover the entire width */
  height: 100vh; /* Set to 100vh to cover the entire height */
  background-color: #070714;
  padding: 20px;
  color: white;
  z-index: 1000;
  display: flex; /* Added to center the content */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  overflow-y: auto;
}

.no-scroll {
  overflow: hidden;
}

@keyframes fadeIn {
    to {
        opacity: 0.8;
    }
}


.expanded-content h2, .expanded-content ul {
  opacity: 0; /* Start with text hidden */
  animation: textFadeIn 1.5s forwards; /* Apply the animation */
  animation-delay: 0.5s; /* Delay the start of the animation */
}

@keyframes textFadeIn {
    to {
        opacity: 1;
    }
}

@media (min-width: 375px) {
  /* Tablet styles */
}

@media (min-width: 425px) {
  /* Tablet styles */
  
 
}

@media (min-width: 600px) {
  /* Tablet styles */
  .grid-item-wrapper {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;    /* Center children horizontally */
    width: calc(100% - 20px);
    margin: 10px;
    height: 85vh;
  }
 
}

@media (min-width: 900px) {
  /* Small Laptops */


}

@media (min-width: 1200px) {
  /* Desktops */
  .expanded-content {
    font-size: 1.5em;
  }
}