.facbackground {
  background-color:#87CEFA;
  padding: 20px;
  text-align: center;
  color: white;
}

.scrollul {
  display: flex;
  overflow-x: auto;
  list-style-type: none;
  padding: 0;
  white-space: nowrap;
  justify-content: space-evenly;
  color: black;
}

.scrollul li {
  flex: 0 0 auto;
  background-color: white;
  margin-right: 10px;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  display: inline-block; /* Ensure items are inline */
}

.scrollul li img {
  width: 100%;
  border-bottom: 2px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 70%;
}

.scrollul li div {
  padding: 10px;
  text-align: center;
  height: 30%;
}
