
.textcontainer{

    font-family: 'gascogne-serial-medium-regular', sans-serif;
    font-weight: normal;
    font-size: 2em;
    position: relative;
    bottom: 55%;
    color: #EA3431;

}

.servicebtn {

    font-size: 0.5em;
    color: white;
    border-radius: 5px;
    background-color: #EA3431;
    box-shadow: none;
    border: none;
}

#backg {
    background-size:cover;
    background-position: cover cover;
}

@media (min-width: 600px) {
    /* Tablet styles */
}

@media (min-width: 900px) {
    /* Small Laptops */
    .textcontainer{

        font-family: 'gascogne-serial-medium-regular', sans-serif;
        font-weight: normal;
        font-size: 0.7em;
        position: relative;
        bottom: 55%;
        color: #EA3431;
    
    }
   
}

@media (min-width: 1200px) {
    /* Desktops */
    .textcontainer{
        width: 45vw;
        height: 30vh;
        color: #EA3431;
        position: relative;
        top: 1vh;
    
    }

    #backg {
        background-size:cover;
        background-repeat: no-repeat;
    }
    

    #welcome {
        font-size: 4em;
    }
    #welcome2 {
        font-size: 2em;
        color: #1E2A5A;
    }

    .servicebtn {
        font-size: 0.5em;
        color: white;
        background-color: #EA3431;

    }
}

@media (min-width: 2560px) {
    /* Desktops */
    .textcontainer{
        width: 45vw;
        height: 30vh;
        color: #EA3431;
        position: relative;
    
    }

    #welcome {
        font-size: 5em;
    }
    #welcome2 {
        font-size: 2.5em;
        color: #1E2A5A;
    }

    .servicebtn {
        font-size: 0.5em;
        color: white;
        background-color: #EA3431;

    }
}