.textcontainer {
    font-family: 'gascogne-serial-medium-regular', sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #EA3431;
    text-align: left; /* Align text to the left */
    margin-left: 5%; /* Add some margin to the left */
}

.servicebtn {
    font-size: 0.5em;
    color: white;
    border-radius: 5px;
    background-color: #EA3431;
    box-shadow: none;
    border: none;
}

.biz {
    position: absolute;
    right: 5%; /* adjust as needed */
    top: 30%; /* adjust as needed */
    width: 200px; /* adjust as needed */
}

.servicebtn {
    font-size: 1.5em; /* increase font size */
    padding: 12px 20px; /* add padding to increase button size */
    color: white;
    border-radius: 5px;
    background-color: #EA3431;
    box-shadow: none;
    border: none;
}



#backg {
    background-size: cover;
    background-position: center center; /* Center the background image */
    height: 100vh; /* Set height to 100% of the viewport height */
}

@media (min-width: 900px) {
    /* Small Laptops */
    .textcontainer {
        font-size: 0.7em;
        margin-left: 15%; /* Increase left margin */
    }
}

@media (min-width: 1200px) {
    /* Desktops */
    .textcontainer {
        width: auto;
        height: auto;
        font-size: 1em;
        margin-left: 0%; /* Increase left margin */
        position: relative;
        top: -25vh;
    }

    #welcome {
        font-size: 2em;
    }
    #welcome2 {
        font-size: 1.5em;
        color: #1E2A5A;
    }
    #backg {
        background-size: cover;
        background-position: 10% 20% !important; /* X Y */
    }

    .biz {
        position: absolute;
        right: 5%; /* adjust as needed */
        top: 30%; /* adjust as needed */
        width: 200px; /* adjust as needed */
    }
    
}

@media (min-width: 2560px) {
    /* Large Desktops */
    .textcontainer {
        font-size: 1em;
        margin-left: 10%; /* Increase left margin */
    }

    #welcome {
        font-size: 1em;
    }
    #welcome2 {
        font-size: 1em;
    }
}
