.p-3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar is above other content */
    /* Additional styles like background, height, etc. */
    background: white;
}

.navbar-nav {
    color: black;
}

.sunlogo {
    width: 43vw;
    height: 7vh;
}
.navbar-toggler navbar-toggler-icon {

    width: 1vw;
    height: 1vh;
}
.nav-link {
    font-size: 0.3em;
    color: #1E2A5A;
}

.c  {
    width: 61px;
    height: 35px;
    margin-bottom: 5px;
    color: white;
    background-color: #EA3431;
    border: none;
    border-radius: 5px;
    box-shadow: none;
}

.btn-primary {
    width: 61px;
    height: 35px;
    margin-bottom: 5px;
    color: white;
    background-color: #EA3431;
    border: none;
    border-radius: 5px;
    box-shadow: none;

}
#brou {
    display: none;
}

#dropdown-basic-button {
    display: none;
}

@media (min-width: 600px) {
    /* Tablet styles */
    .sunlogo {
        width: 25vw;
        height: 5vh;
    }
    .navbar-toggler {
        position: relative;
        left: 22%;
    }
    .nav-link {
        font-size: 0.5em;
    }

    .c {
        display: none;
    }

    #brou {
        display:flex;
    }
    
    #dropdown-basic-button {
        display: flex;
    }
}

@media (min-width: 900px) {
    /* Small Laptops */
    .sunlogo {
        width: 25vw;
        height: 10vh;
    }
    .nav-link {
        font-size: 0.8em;

    }
    .c {
        display: none;
    }

    #brou {
        display:flex;
    }
    
    #dropdown-basic-button {
        display: flex;
    }

}

@media (min-width: 1200px) {
    /* Desktops */
    #navmain {
        font-size: 2em;
    }

    .sunlogo {
        width:25vw;
        height: 10vh;
    }
    .c {
        display: none;
    }

    #brou {
        display:flex;
    }
    
    #dropdown-basic-button {
        display: flex;
    }

}