.trustlength {
    height: 100vh;
    position: relative;
 
}

/* .containertrust {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    border: 0.6px solid rgb(217, 217, 217);
    box-sizing: border-box;
  } */

.picturetrust {
    position: absolute;
    width: 70vw;
    top: 6vh;
    right: 0;
}

.contenttrust {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #111921;
    text-align: center;

}

.contenttrust h1 {
    flex-basis: 10%;
    margin: 21px;
    border: 0.6px solid rgb(217, 217, 217);
    padding: 21px;
    background: white;
    border-radius: 3px;
}

.contenttrust p {
    flex-grow: 1; /* p takes up the rest of the space */
    margin: 21px;
    padding: 21px;
    background: white;
    border: 0.6px solid rgb(217, 217, 217);
    border-radius: 3px;
  }


@media (min-width: 600px) {
   
}

@media (min-width: 900px) {
    /* Small Laptops */

}

@media (min-width: 1200px) {
    /* Desktops */
   
}