.trustlength {
    height: 100vh;
}

.containertrust {
    content: "";
    position: relative;
    left: 300px;
    top: 1px;
    height: 100%;
    width: 30%; /* Set the width to 50% of the container, or any value larger than the width of ::before pseudo-element */
    border: 0.6px solid rgb(217, 217, 217); /* Set the border to grey */
    box-sizing: border-box;
  }

  .picturetrust {
    position: relative;
    width: 70vw;
    top: 0;
    right: 0;
  }
@media (min-width: 600px) {
   
}

@media (min-width: 900px) {
    /* Small Laptops */

}

@media (min-width: 1200px) {
    /* Desktops */
   
}