.missionlength {
    background-color: white; /* Set the background color to white */
    position: relative;
    height: 90vh; /* Set the height to 100% of the viewport height */
  }

  .half-filled-rectangle {
    content: "";
    position: absolute;
    left: -1px;
    top: 1px;
    height: 100%;
    width: 30%; /* Set the width to 50% of the container, or any value larger than the width of ::before pseudo-element */
    border: 0.6px solid rgb(217, 217, 217); /* Set the border to grey */
    box-sizing: border-box;
  }
  
  .half-filled-rectangle::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 42%;
    background-color: #111921 ;
  }



  .half-filled-rectangle::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 15%;
    width: 100vw;
    background: linear-gradient(to top, #111921 50%, white 50%);
    border-top: 0.6px solid rgb(217, 217, 217);
  }
  
  
  .imagebright {
    position: relative;
    width: 70vw;
    top: 6vh;
  }

  .containermission {
    display: flex;
    flex-direction: column;
    margin: 42px;
    position: relative;
    left: 83px;
    top: 42px;
    width: 300px;
    word-wrap: break-word;
  }
  
  .mission, .vision {
    flex: 1;
    margin: 10px; 
  }
  

@media (min-width: 600px) {
    /* Tablet styles */
   
}

@media (min-width: 900px) {
    /* Small Laptops */

}

@media (min-width: 1200px) {
    /* Desktops */
   
}