.worldwide-container {
    text-align: center;
    background-color: #F0FFF0; /* black background with 40% opacity */
    padding: 20px;
  }
  
  .grid-container-flag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .grid-item-flag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
  }

  #followgrid{
    color: white;
  }
  